<section>
    <div>
      <div class="row mt-2">
        <div class="col-sm">
          <img class="img-responsive ms-4 " src="assets/Images/offers (1).jpeg"  routerLink="/product" value="specialoffer" height="90px" width="90px"><br><label class="ms-4"><b><em>Special offers</em></b></label>
          </div>
        <div class="col-sm">
            <img class="img-responsive rounded-circle " src="assets/Images/chair (1).jpg"  routerLink="/product" value="chair" height="90px" width="90px"><br><label class="ms-3"><b><em>Chair</em></b></label>
            </div>
       <div class="col-sm">
              <img class="img-responsive rounded-circle " src="assets/Images/bed (1).jpg"  value="bed" routerLink="/product" height="90px" width="90px"><br><label class="ms-3"><b><em>Bed</em></b></label>
              </div>
       <div class="col-sm">
                  <img class="img-responsive rounded-circle" src="assets/Images/sofa (1).jpg"routerLink="/product" value="sofa" height="90px" width="90px"><br><label class="ms-3"><b><em>Sofa</em></b></label>
                  </div>
      <div class="col-sm">
                    <img class="img-responsive rounded-circle " src="assets/Images/swing (1).jpg"  routerLink="/product" value="swing" height="90px" width="90px"><br><label class="ms-2"><b><em>Swing</em></b></label>
                    </div>
      <div class="col-sm">
                      <img class="img-responsive rounded-circle" src="assets/Images/table (1).jpg"  routerLink="/product" value="table"  height="90px" width="90px"><br><label class="ms-3"><b><em>Table</em></b></label>
                      </div>
     <div class="col-sm">
                        <img class="img-responsive rounded-circle" src="assets/Images/baby furniture.jpg"  routerLink="/product" value="babyfurniture" height="90px" width="90px"><br><label><b><em>Baby furniture</em></b></label>
                        </div>
     <div class="col-sm">
                          <img class="img-responsive rounded-circle" src="assets/Images/cupboard.jpg" routerLink="/product" value="cupboard"  height="90px" width="90px"><br><label class="ms-3"><b><em>Cupboard</em></b></label>
                          </div>
      </div>
    </div>
  </section>