input1{
    height: 50px;
    width: 300px;

}

.border{
    height: 35px;
    width: 700px;
    font-size: medium;
    text-align: left;
}
textarea{
    width: 700px;
    height: 90px;

}
*{
    cursor: pointer;
}
select{
    height: 40px;
    width: 300px;

}
.type{
    margin-left: 2%;
}
.btn{
    height: 35px;
    width: 80px;
    margin-right: 46%;

}
#btn1{
    color:#fff;
    background-color: grey;
}

