.card-img-top{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 1%;
    height: 200px;
    width: 350px;
    
    align-items: center;
    
}
#last{
       position: sticky;
}

#fil{
    margin-top: 2%;
    margin-left: 3%;
}
#cat{
    margin-left: 9%;
}

#hd{
    margin-top: 3%;
    margin-left: 20%;
}
#sev{
   font-weight: bolder;
   font-size: small;
    background-color: rgb(8, 142, 6);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
   
}
#last{
    font-size: 15px;
    font-weight: bolder;
   
}
.card-title{
    font-size: 12px;
}
.card-text{
    font-size: 12px;
}

#heart{
    font-size: large;
    margin-left: 200px;
    margin-bottom: 7%;
}
.card{
    border-color: #fff;
    border-width: 0px;
    
 
}
.card-group{
    height: 500px;
    width: 400px;
    border-color: #fff;
    padding: 10%;
}

