#login{
    padding-top: 8%;
    height: 660px;
   
}
h2{
    font-size: 50px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#text{
    padding-top: 2%;
    text-align: center;
    color: #737373;
}
#text1{
    text-align: center;
    color: #737373;
}
#name{
    height: 60px;
    font-size: larger;
}
#pass{
        height: 60px;
        font-size: larger;
}
.row{
    padding-top: 2px;

}
input{
    font-size:larger ;
   background-color: #fff;
   
}
*{
    background-color: #f4f1ea; 
    opacity: 10px;
   
}
#loginbtn{
    background-color:  #415b48;
    text-align: center;
    width: 490px;
    height: 60px;
    color: #fff;
    font-weight: 600;
}
#text2{
    font-size: large;
    margin-left: 68%;
    margin-top: 2%;
}
#text3{
   font-size: large;
   margin-left: 10%;
   margin-top: 2%;
}