
<h1 id="head" class="text-primary text-center">Premium Finds For You</h1>
<div>
  <ngb-carousel >
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <div class="card-group">
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[0].id}}"  >
                    <img id="com" [src]="productlist[0].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[0].brandname}}</h5>
                      <p class="card-text">{{productlist[0].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[1].id}}" >
                    <img id="com" [src]="productlist[1].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[1].brandname}}</h5>
                      <p class="card-text">{{productlist[1].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card" routerLink="/individualPro/{{productlist[2].id}}">
                    <img id="com"[src]="productlist[2].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[2].brandname}}</h5>
                      <p class="card-text">{{productlist[2].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[3].id}}">
                      <img id="com" [src]="productlist[3].picture"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{productlist[3].brandname}}</h5>
                        <p class="card-text">{{productlist[3].name}}</p>
                        <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                      </div>
                    </div>
                  </div>

          </div>
        
      </ng-template> 
      <ng-template ngbSlide>
       <div class="picsum-img-wrapper">
              <div class="card-group">
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[4].id}}">
                    <img id="com" [src]="productlist[4].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[4].brandname}}</h5>
                      <p class="card-text">{{productlist[4].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[5].id}}">
                    <img id="com" [src]="productlist[5].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[5].brandname}}</h5>
                      <p class="card-text">{{productlist[5].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[6].id}}">
                    <img id="com"[src]="productlist[6].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[6].brandname}}</h5>
                      <p class="card-text">{{productlist[6].name}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card"  routerLink="/individualPro/{{productlist[7].id}}">
                      <img id="com" [src]="productlist[7].picture"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{productlist[7].brandname}}</h5>
                        <p class="card-text">{{productlist[7].name}}</p>
                        <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                      </div>
                    </div>
                  </div>

          </div>
        
      </ng-template>
  </ngb-carousel>
  </div>
  <hr>
  <hr>
  <h1 id="hea" class="text-secondary text-center">Best Choose For You</h1>
  <div>
      <ngb-carousel >
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                  
                  <div class="card-group">
                      <div id="apple" class="card"  routerLink="/individualPro/{{productlist1[0].id}}">
                        <img id="com" [src]="productlist1[0].picture"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{productlist1[0].brandname}}</h5>
                          <p class="card-text">{{productlist1[0].name}}</p>
                          <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card" routerLink="/individualPro/{{productlist1[1].id}}">
                        <img id="com"[src]="productlist1[1].picture" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{productlist1[1].brandname}}</h5>
                          <p class="card-text">{{productlist1[1].name}}</p>
                          <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card" routerLink="/individualPro/{{productlist1[2].id}}">
                        <img id="com" [src]="productlist1[2].picture"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{productlist1[2].brandname}}</h5>
                          <p class="card-text">{{productlist1[2].name}}</p>
                          <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card" routerLink="/individualPro/{{productlist1[3].id}}">
                          <img id="com" [src]="productlist1[3].picture"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{productlist1[3].brandname}}</h5>
                            <p class="card-text">{{productlist1[3].name}}</p>
                            <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                          </div>
                        </div>
                    </div>
              </div>
             
          </ng-template>
         
      </ngb-carousel>
      </div>
      <hr>

 