
<h1 id="head" class="text-primary text-center">Premium Finds For You</h1>
<div>
  <ngb-carousel >
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
              <div class="card-group">
                  <div id="apple" class="card">
                    <img id="com" [src]="productlist[0].picture"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{productlist[0].name}}</h5>
                      <p class="card-text">{{productlist[0].shortdes}}</p>
                      <p class="card-text"><small class="text-muted">Grap Soon!!!</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/chair/chair.1.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/dinning (1).jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                      <img id="com" src="assets/Images/sofa (1).jpg"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                </div>




          </div>
        
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
             
  
              <div class="card-group">
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/swing (1).jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/chair/chair.1.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/swing/swing.3.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                      <img id="com" src="assets/Images/chair/chair.5.jpg"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
            </div>

          </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            
 
              <div class="card-group">
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/chair/chair.2.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/dinning/dinning.3.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                    <img id="com" src="assets/Images/chair/chair.3.jpg"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  <div id="apple" class="card">
                      <img id="com" src="assets/Images/swing/swing.3.jpg"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                </div>

          </div>
          
      </ng-template>
  </ngb-carousel>
  </div>
  <hr>
  <hr>
  <h1 id="hea" class="text-secondary text-center">Best Choose For You</h1>
  <div>
      <ngb-carousel >
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                  
                  <div class="card-group">
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/bed/bed.4.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/chair/chair.1.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/dinning/dinning.1.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                          <img id="com" src="assets/Images/sofa (1).jpg"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                    </div>
              </div>
             
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                 
      
                  <div class="card-group">
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/swing/swing.1.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/chair/chair.4.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/dinning/dinning.2.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                          <img id="com" src="assets/Images/chair/chair.2.jpg"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                    </div>
  
              </div>
              
          </ng-template>
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                
     
                  <div class="card-group">
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/sofa (1).jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/dinning/dinning.3.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                        <img id="com" src="assets/Images/chair/chair.3.jpg"  class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                      <div id="apple" class="card">
                          <img id="com" src="assets/Images/swing/swing.3.jpg"  class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                    </div>
              </div>
          </ng-template>
      </ngb-carousel>
      </div>
      <hr>

 