#com{
    height: 250px;
    padding-left: 5.5%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    padding-right: 5.5%;

}
#apple{
    margin-left:1%;
    margin-right: 2%;
    margin-top: 1%;
}
#head{
    margin-top: 3%;
    font-family:Impact Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#hea{
    margin-top: 3%;
    font-family:Impact Arial, Helvetica, sans-serif;
    font-weight: bolder;
}