#bbb{
    background-color: rgba(14, 12, 12, 0.717);
     width: 1000px;
     font-family: 'Times New Roman', Times, serif;
     font-size: larger;
 }
 #ball{
     margin-left: 50px;
     padding-left: 100px;
     padding-right: 50px;
     font-family: 'Times New Roman', Times, serif;
     font-size: larger;
 }
 #pra{
     margin-top: 150px;
 }
 #cat{
     margin-left: 100px;    
 }
 #ram{
     margin-left: 580px;
     font-family: 'Times New Roman', Times, serif;
 }
 #lab{
     font-size:xx-large;
 }
 #foot{
    font-family: 'Times New Roman', Times, serif;
 
 }
 #mmm{
     background-color: black;
 }