
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet"><div>
 
    <div class="bg-dark">
    <button id="bbb" class="btn rounded mx-auto d-block"><em><b class="text-light" routerLink="/nav">Back To Top</b></em></button>
    
            <div id="pra">
              <div id="ball"  class="row mt-3 text-light">
                <div class="col-sm">
                   <h4><em><b>Get To Know Us</b></em></h4><br><label><i class="ri-book-open-line"></i> - <em>About Us</em></label>
                  </div>
                  <div class="col-sm">
                    <h4><em><b>Connect with Us</b></em></h4><br><label ><i class="ri-facebook-box-fill"></i><em> - Facebook</em></label><br>
                    <label ><i class="ri-twitter-line"></i><em> - Twitter</em></label><br>
                    <label ><i class="ri-instagram-line"></i><em> - Instagram</em></label><br>
                    <label ><i class="ri-whatsapp-line"></i><em> - Whats app</em></label>
                   </div>
                   <div class="col-sm">
                    <h4><em><b>Let Us Help You</b></em></h4><br><label ><em>Your Account</em></label><br>
                    <label ><em>Returns Centre</em></label><br>
                    <label ><em>100% Purchase Protection</em></label><br>
                    <label ><em> App Download</em></label>
                    <label ><em>Help</em></label>
                   </div>
                   <div class="col-sm">
                    <h4><em><b>Sponsored By</b></em></h4><br><label><em>Ramya</em></label><br>
                    <label ><em>Praveenkumar</em></label><br>
                    <label ><em>Yamini</em></label><br>
                    <label ><em>Madhan</em></label>
                   </div>
                     
              </div>
            </div><br><br><br><br><hr>
            <div>
            <div id="ram">
               <label id="lab" class="text-light"><b><em><i class="ri-empathize-fill"></i> Ramya</em></b></label>
              <select id="cat" class="col-1 text-dark">
                <option value="English">English</option>
                <option value="Tamil">Tamil</option>
                <option value="Hindi">Hindi</option>
                <option value="Japines">Japinese</option>
                <option value="Japines">Italy</option> 
                <option value="Tamil">Telugu</option>
                <option value="Tamil">Korea</option> 
                <option value="Tamil">Chinese</option>
                <option value="Tamil">Franch</option>
                </select>
                </div> 
              </div>
          <br><br>
          <p id="foot" class="text-center text-light">Australia--  
            -- Brazil  
            --Canada  
            -- China     
            -- France
            -- Germany
            -- Italy
            -- Japan
            -- Mexico
            -- Netherlands
            -- Poland
            -- Singapore
            -- Spain
            -- Turkey<br>
            -- United Arab Emirates
            -- United Kingdom
            --United States</p>
            
            <div id="mmm">
                <br>
                <p id="foot" class="text-light text-center">Conditions of Use & Sale
                    Privacy Notice
                    Interest-Based Ads<br>
                    © 1996-2023, Amazon.com, Inc. or its affiliates</p>
            </div></div>