#box{
   
    background-color: #fff; 
    top: 5%;
    margin-top: 4%;
}

.card:hover{
    background-color: #fff;
    transform: scale(1.07);
}
*{
    background-color: #fff;
}
.card-body{
    text-align: center;
}
