<app-navbar></app-navbar>
<app-header></app-header>
<app-carousel></app-carousel>
<div id="box" class="container-fluid">
  <div id="header" class="container text-center" ><h1 ><B>STUNNING DEALS</B></h1>
    <h3>Huge offers on top-selling buys</h3> 
  
  </div>
    <div id="scroll" style="margin-top: 3%;"><div class="row" >
        <div class="col-sm">
            <div class="card  bg-light" style="width: 19rem;"  routerLink="/product/">
                <img src="assets/Images/bed/bed.1.jpg" style="height: 170px; width: 19rem;" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text " style="font-size: large;"><b><em>BED</em></b></p>
                  <p class="card-text">Max 60% Off</p>
                </div>
              </div>
            </div>
        <div class="col-sm">
            <div class="card" style="width: 19rem;" routerLink="/product/">
                <img src="assets/Images/swing/swing.3.jpg" style="height: 170px; width: 19rem;" class="card-img-top" alt="...">
                <div class="card-body" style="font-size: large;">
                <p class="card-text "><b><em>SWING</em></b></p>

                  <p class="card-text">Upto 30% Off</p>
                </div>
              </div>
        </div> 
         
        <div class="col-sm">
          <div class="card" style="width: 19rem;" routerLink="/product/">
              <img src="assets/Images/sofa (1).jpg" style="height: 170px; width: 19rem;" class="card-img-top" alt="...">
              <div class="card-body" >
                <p class="card-text " style="font-size: large;"><b><em>SOFA</em></b></p>
                <p class="card-text">Min. 50% Off</p>
              </div>
            </div>
      </div>
        <div class="col-sm">                                                                                                           
            <div class="card" style="width: 19rem;" routerLink="/product/">
                <img src="assets/Images/cupboard.jpg" style="height: 170px; width: 19rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text " style="font-size: large;"><b><em>CUPBOARD</em></b></p>
                  <p class="card-text ">Up to 50% Off</p>
                </div>
              </div>
        </div>
    </div>
</div></div> 
<app-car-slide></app-car-slide>
<app-about></app-about>